body, html { 
    width: 100%; 
    height: 100%; 
    font-size: 16px; 
    font-family: Lobster; 
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    overflow-x: hidden; /* Previene lo scrolling orizzontale */
}

:before, *:after { 
    box-sizing: border-box; 
}

h1, h2, h3, h4, h5, h6, p, ol, ul { 
    margin: 0; 
    padding: 0; 
}

ol, ul { 
    list-style-type: none; 
}

img { 
    height: auto; 
}

.header {
    background-color: rgba(192, 192, 192, 0.4);
    padding: 10px;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
    backdrop-filter: blur(10px);
    overflow-x: hidden;
}

.header.scrolled {
    background-color: #C0C0C0;
}

.logo-text {
    margin-left: 20px; /* Aggiungi margine sinistro per spostare leggermente il testo verso destra */
}

.logo-link {
    margin-left: 20px;
}

.logo-img {
    width: 100px;
    height: 50px;
}

.navbar {
    margin-left: auto;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list li {
    margin-left: 20px;
    position: relative; /* Necessario per il posizionamento assoluto del menu a tendina */
}

.nav-list li a {
    text-decoration: none;
    font-size: 20px;
    color: #333;
    padding: 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.nav-list li a:hover {
    background-color: #555;
    color: #fff;
}

.navbar .dropdown {
            position: relative;
            display: inline-block;
        }

        .navbar .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            border-radius: 5px;
            padding: 5px 0;
        }

        .navbar .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            transition: background-color 0.3s;
        }

        .navbar .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .navbar .dropdown:hover .dropdown-content {
            display: block;
        }


.cerca-form {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.cerca-form input[type="text"] {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 3px;
}

.cerca-form button {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin-left: 5px;
}

.cerca-form button:hover {
    background-color: #555;
}

.login-button {
    text-decoration: none;
    font-size: 20px;
    color: #333;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.3s;
    margin-left: 20px;
}

.login-button:hover {
    background-color: #555;
    color: #fff;
}

.carrello {
    margin-right: 20px; /* Aggiungi margine destro per spostare leggermente il carrello verso sinistra */
}