@charset "UTF-8";
	
	
.content {
    max-width: 1200px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

#product-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#product-list li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

#product-list li:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#product-list li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    display: block;
    margin-top: 10px;
}

#product-list li a:hover {
    color: #007bff;
}