 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 575px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1169px;
  margin: 40px auto 40px -29px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 495px;
  background-image: linear-gradient(#e9f2fa, #db545a);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 8px;
}

.u-section-1 .u-text-1 {
  margin: 62px 10px 0 2px;
}

.u-section-1 .u-text-2 {
  margin: 21px 12px 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 29px;
  min-height: 16px;
  width: 107px;
  min-width: 68px;
  margin: 40px auto 0 12px;
}

.u-section-1 .u-icon-1 {
  height: 32px;
}

.u-section-1 .u-icon-2 {
  height: 32px;
}

.u-section-1 .u-icon-3 {
  height: 32px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 108px;
  background-image: linear-gradient(#f1b5b8, #f9e79b);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 40px 0 30px;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  width: 184px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 387px;
  background-image: linear-gradient(white, #db545a);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-form-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  width: 100px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  width: 100%;
  padding: 9px 0 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 358px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 95px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 342px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }
}