
   
  /*intestazione home page*/
   
   
   body, html{ width: 100% ;height:100%; font-size: 16px; font-family: Lobster; box-sizing: border-box;margin: 0;padding: 0;}
  *,*:before,*:after{ box-sizing: border-box; }
   h1,h2,h3,h4,h5,h6, p, ol, ul{margin: 0;padding: 0;}
	ol,ul{list-style-type: none;}
	img{height: auto;}
	
	
body{
	background: rgb(240,241,242);
    background: linear-gradient(94deg, rgba(240,241,242,1) 23%, rgba(242,88,45,1) 72%);
}
  .header{
	
	background:#fdfdfd;
    text-align:center;
	position: fixed;
	
	width:100%;
	
	border-bottom:2px solid black;
	
	
}
.header_content{
		
		text-align: center;
		
}
.header_content h1{
		
		
			padding:5px;
	
}

.header-logo{
	background:url(logo.png) no-repeat center center;  
	background-size:cover;
	
	
	float:left;
	width:20%;
	padding:27px;
	margin-left:2%;
	
	
	
}
.principal{
	border:2px solid red;
	
}

 .navbar{
   float:right;
	border:2px solid red;
	width:60%;
	padding:0px;
    margin:auto 0;
	
	
}

.navbar_items{
	display:inline-block;
	margin-right:5%;
	border:2px solid red;
	
}







